.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.name {
  color: #212121;
  font-family: 'Verdana', sans-serif;
}

.logoutBtn {
  color: #9b9faa;
  background: none;
  border: none;
  border-left: 2px solid #e0e0e0;
  height: 32px;
  padding-left: 15px;
  cursor: pointer;
  font-family: 'Verdana', sans-serif;
}
