.userInfoMobile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 4px;
  margin-bottom: 8px;
  scale: 1;
  background-color: var(--input-bg);
}

.userInfoMobileInner{
  scale: 0.9;
}

@media (min-width: 768px) {
  .userInfoMobile {
    display: none;
  }
}
