.addPageContainer {
  width: 100%;
  padding: 20px 0;
}

@media (min-width: 320px) {
  .addPageContainer {
    display: block;
  }
}


@media (min-width: 768px) {
  .addPageContainer {
    display: none;
  }
}