/* for test */

.container {
  background-color: #F0F1F3;
  padding: 40px 20px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #212121;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  width: 200px;
  color: #9B9FAA;
  font-size: 14px;
}

.foodList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #9B9FAA;
}

.text {
  font-size: 14px;
  color: #9B9FAA;
}