.container {
  background-color: var(--bg-grey);
  padding: 40px 20px;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    padding: 80px 32px;
    gap: 80px;
    min-height: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    /* position: fixed; */
    top: 0;
    right: 0;
    width: 40%;
    max-width: 520px;
    height: 100vh;
    flex-direction: column;
    padding-top: 292px;
    padding-left: 90px;
    padding-right: 100px;
    gap: 60px;
    z-index: 0;
  }
}

.summaryContainer, .foodContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--text-main);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 280px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--grey);
}

.listItem span:last-child {
  color: var(--text-main);
}

.foodList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: var(--grey);
}

.text {
  font-size: 14px;
  color: var(--grey);
  line-height: 1.5;
}