.registerFormContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 300px;
    left: 50px;
    gap: 20px;
}

.registerFormContainer .form {
    display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 450px;
        padding: 24px;
}

.registerFormContainer h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-bottom: 55px;
}

.registerFormContainer label {
    font-size: 14px;
    font-weight: 700;
    color: var(--grey);
    letter-spacing: 0.04em;
}

.registerFormContainer input {
    padding: 10px;
    border: transparent;
    border-bottom: 1px solid var(--grey);
    background: transparent;
    max-width: 240px;
}

.registerFormContainer .error {
    color: red;
    font-size: 0.85rem;
    padding-left: 10px;
    margin-top: 5px;
    height: 20px;
    display: block;
    animation: shake 0.3s ease-in-out;
}

.registerFormContainer .btnContainer {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 60px;
}

.btnContainer .registerBtn {
    box-shadow: #FC842D80;
    background-color: var(--orange);
    color: var(--white);
    
    text-align: center;
        padding: 13px 37px;
        border: 2px solid var(--orange);
        border-radius: 30px;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
        font-size: 14px;
}

.registerBtn:hover {
    background-color: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
}

.btnContainer a {
    /* text-align: center;
   
    

 

  
     */
    color: rgba(252, 132, 45, 1);
        text-decoration: none;
        box-shadow: rgba(252, 132, 45, 0.5);
        border: none;
        padding: 13px 50px;
        border-radius: 30px;
        font-weight: 700;
        cursor: pointer;
        font-size: 14px;
        border: 2px solid var(--orange);
}

.btnContainer a:hover {
    background-color: var(--orange);
    color: var(--white);
    box-shadow: rgba(252, 132, 45, 0.5);
    border: 2px solid var(--orange);
}