.registerFormContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 300px;
    gap: 20px;
}

.registerFormContainer .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 450px;
    padding: 24px;
}

.registerFormContainer h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-bottom: 55px;
}

.registerFormContainer label {
    font-size: 14px;
    font-weight: 700;
    color: var(--grey);
    letter-spacing: 0.04em;
}

.registerFormContainer input {
    padding: 10px;
    border: transparent;
    border-bottom: 1px solid var(--grey);
    background: transparent;
    max-width: 240px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
}

.inputContainer .input {
    display: flex;
    flex-direction: column;
}

.inputContainer .errorContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.registerFormContainer .error {
    color: var(--error-color);
    font-size: 0.85rem;
    padding-left: 10px;
    margin-top: 5px;
    height: 20px;
    display: block;
    animation: shake 0.3s ease-in-out;
    font-weight: 700;
}

.registerFormContainer .btnContainer {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 60px;
}

.btnContainer .registerBtn {
    box-shadow: #FC842D80;
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    padding: 13px 47px;
    border: 2px solid var(--orange);
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.registerBtn:hover {
    background-color: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
}

.btnContainer a {
    color: rgba(252, 132, 45, 1);
    text-decoration: none;
    box-shadow: rgba(252, 132, 45, 0.5);
    border: none;
    padding: 13px 60px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid var(--orange);
    transition: all 0.3s;
}

.btnContainer a:hover {
    background-color: var(--orange);
    color: var(--white);
    box-shadow: rgba(252, 132, 45, 0.5);
    border: 2px solid var(--orange);
}

@media ((min-width: 767px) and (max-width: 1279px)) {}

@media (max-width: 766px) {}

/* yesimbozkurt */