.registerFormContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 300px;
    width: 100%;
}

.registerFormContainer .form {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 100%;
}

.registerFormContainer h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
}

.registerFormContainer label span {
    font-size: 14px;
    font-weight: 700;
    color: var(--grey);
    letter-spacing: 0.04em;
}

.registerLabel {
    display: flex;
    gap: 10px;
}

.registerFormContainer input {
    padding: 10px;
    border: transparent;
    border-bottom: 1px solid var(--grey);
    background: transparent;
}

.inputContainer {
    display: flex;
    flex-direction: row;
}

.inputContainer .input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.passwordVisibilityToggle {
    position: absolute;
    right: 10px;
    top: 35%;
    cursor: pointer;
}

.inputContainer .input .error {
    display: none;
}

.inputContainer .errorContainer {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.registerFormContainer .error {
    color: var(--error-color);
    font-size: 0.85rem;
    padding-left: 10px;
    margin-top: 5px;
    height: 20px;
    display: block;
    animation: shake 0.3s ease-in-out;
    font-weight: 700;
}

.registerFormContainer .btnContainer {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 60px;
}

.btnContainer .registerBtn {
    box-shadow: #FC842D80;
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    padding: 13px 57px;
    border: 2px solid var(--orange);
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.registerBtn:hover {
    background-color: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
}

.btnContainer a {
    color: rgba(252, 132, 45, 1);
    text-decoration: none;
    box-shadow: rgba(252, 132, 45, 0.5);
    border: none;
    padding: 13px 60px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid var(--orange);
    transition: all 0.3s;
}

.btnContainer a:hover {
    background-color: var(--orange);
    color: var(--white);
    box-shadow: rgba(252, 132, 45, 0.5);
    border: 2px solid var(--orange);
}

@media ((min-width: 767px) and (max-width: 1279px)) {
    .registerFormContainer {
        top: 200px;
    }

    .registerFormContainer h2 {
        font-size: 14px;
    }

    .registerFormContainer .registerLabel {
        font-size: 14px;
    }

    .registerFormContainer .form .error {
        font-size: 0.75em;
    }
}

@media (max-width: 766px) {
    .registerFormContainer {
        display: flex;
        flex-direction: column;
        top: 130px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
    }

    .registerFormContainer .form h2 {
        text-align: center;
        font-size: 14px;
    }

    .registerFormContainer .registerLabel {
        font-size: 14px;
    }

    .registerFormContainer .inputContainer {
        width: 100%;
    }

    .inputContainer .input {
        width: 100%;
    }

    .inputContainer .input .error {
        display: block;
        color: var(--error-color);
        font-size: 0.75rem;
    }

    .registerFormContainer .btnContainer {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .inputContainer .errorContainer {
        display: none;
    }
}

/* yesimbozkurt */