

.loginFormContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 300px;
    left: 50px;
    gap: 20px;
}

.loginFormContainer .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 450px;
    padding: 24px;
}

.loginFormContainer .form h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-bottom: 55px;
}


.loginFormContainer .inputContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.inputContainer .input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loginFormContainer .inputContainer label {
    font-size: 14px;
    font-weight: 700;
    color: var(--grey);
    letter-spacing: 0.04em;
}

.loginFormContainer .inputContainer input {
    padding: 10px;
    border: transparent;
    border-bottom: 1px solid var(--grey);
    background: transparent;
    max-width: 240px;
}

.errorContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.loginFormContainer .error {
    color: red;
    font-size: 0.85rem;
    padding-left: 10px;
    margin-top: 5px;
    height: 20px;
    display: block;
    animation: shake 0.3s ease-in-out;
    font-weight: 700;
}

.loginFormContainer .btnContainer {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 60px;
}

.btnContainer .loginBtn {
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border: none;
    padding: 13px 60px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid var(--orange);
    transition: all 0.3s;
}

.loginBtn:hover {
    background-color: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}

.btnContainer a {
    text-align: center;
    padding: 13px 47px;
    border: 2px solid var(--orange);
    border-radius: 30px;
    color: var(--orange);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.btnContainer a:hover {
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border: 2px solid var(--orange);
}

@media ((min-width: 767px) and (max-width: 1279px)) {}

@media (max-width: 766px) {}

/* yesimbozkurt */