.loginFormContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 300px;
}

.loginFormContainer .form {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 450px;
    width: 100%;
}

.loginFormContainer .form h2 {
    text-transform: uppercase;
    color: var(--orange);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
}


.loginFormContainer .inputContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.inputContainer .input {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 240px;
}
.passwordVisibilityToggle{
    position: absolute;
    right: 10px;
    top: 35%;
    cursor: pointer;
}

.inputContainer .input .error {
    display: none;
}

.loginFormContainer .inputContainer label span {
    font-size: 14px;
    font-weight: 700;
    color: var(--grey);
    letter-spacing: 0.04em;
}

.loginLabel {
    display: flex;
    gap: 10px;
}

.loginFormContainer .inputContainer input {
    border: transparent;
    border-bottom: 1px solid var(--grey);
    background: transparent;
    padding: 10px;
}

.errorContainer {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.loginFormContainer .error {
    color: var(--error-color);
    font-size: 0.85rem;
    padding-left: 10px;
    margin-top: 5px;
    height: 20px;
    display: block;
    animation: shake 0.3s ease-in-out;
    font-weight: 700;
}

.loginFormContainer .btnContainer {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 60px;
}

.btnContainer .loginBtn {
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border: none;
    padding: 13px 57px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid var(--orange);
    transition: all 0.3s;
}

.loginBtn:hover {
    background-color: transparent;
    color: var(--orange);
    border: 2px solid var(--orange);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}

.btnContainer a {
    text-align: center;
    padding: 13px 47px;
    border: 2px solid var(--orange);
    border-radius: 30px;
    color: var(--orange);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.btnContainer a:hover {
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border: 2px solid var(--orange);
}

@media ((min-width: 767px) and (max-width: 1279px)) {
    .loginFormContainer {
        top: 200px;
    }
        .loginFormContainer .form h2 {
        font-size: 14px;
    }

    .loginFormContainer .loginLabel {
        font-size: 14px;
    }

    .loginFormContainer .form .error {
        font-size: 0.75em;
    }
}

@media (max-width: 766px) {
    .loginFormContainer {
        display: flex;
        flex-direction: column;
        top: 130px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
    }

    .loginFormContainer .form h2{
        text-align: center;
        font-size: 14px;
    }

    .loginFormContainer .btnContainer {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .loginFormContainer .inputContainer {
        width: 100%;
    }

    .inputContainer .input {
        width: 100%;
    }

    .inputContainer .input .error {
        display: block;
        color: var(--error-color);
        font-size: 0.75rem;
    }

    .errorContainer {
        display: none;
    }
}

/* yesimbozkurt */