/* .loginForm {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.loginForm .form {
    display: flex;
    flex-direction: column;
    max-width: 240px;
}

.loginForm .form h2 {
    text-transform: uppercase;
   margin-top: 160px;
   color: rgba(252, 132, 45, 1);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
}

.form label {
    margin-top: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
} */
.loginForm {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 450px;
    padding: 24px;
}

.form h2 {
    text-align: left;
    color: rgba(252, 132, 45, 1);
    text-transform: uppercase;
    margin-bottom: 16px;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: transparent;
    border-bottom: 1px solid rgba(155, 159, 170, 0.8);
    font-size: 14px;
    color: rgba(155, 159, 170, 0.8);
    font-weight: 700;
    letter-spacing: 0.04em;
    background: transparent;
    max-width: 240px;
}

.btnContainer {
    display: flex;
    align-items: center;
    gap: 32px;
}

button[type="submit"] {
    background-color: rgba(252, 132, 45, 1);
    color: white;
    box-shadow: rgba(252, 132, 45, 0.5);
    border: none;
    padding: 13px 50px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: transparent;
    color: rgba(252, 132, 45, 1);
    border: 2px solid rgba(252, 132, 45, 1);
}

.btnContainer a {
    text-align: center;
    padding: 11px 37px;
    border: 2px solid rgba(252, 132, 45, 1);
    border-radius: 30px;
    color: rgba(252, 132, 45, 1);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
}

a:hover {
    background-color: rgba(252, 132, 45, 1);
    color: white;
    box-shadow: rgba(252, 132, 45, 0.5);
}