@media (max-width: 767px) {
    .logoIcon {
        width: 46px;
        height: 44px;
    }
    .logoIconMobile {
        width: 46px;
        height: 44px;
    }
}

.logoIcon {
    width: 167px;
    height: 66px;
}
