.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: transparent;
}

.authNav,
.publicNav {
  display: flex;
  gap: 24px;
  border-left: 2px solid #e0e0e0;
  padding-left: 20px;
  height: 32px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #9b9faa;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.activeLink {
  color: #212121;
  text-decoration: none;
}
