.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 33, 0.12);
  z-index: 1200;
}

@media (min-width: 768px) {
  .overlay {
    background-color: rgba(33, 33, 33, 0.5);
  }
}

.modal {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .modal {
    width: 672px;
    height: auto;
    max-height: 572px;
    padding: 64px 80px;
    box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.1);
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #212121;
}
