.header {
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 23px 0;
}

.container {
  margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.leftSide {
  display: flex;
  align-items: center;
  gap: 40px;
}

.leftSide::after {
  content: '';
  height: 32px;
  width: 2px;
  background-color: #e0e0e0;
  display: none;
}

@media ((min-width: 767px) and (max-width: 1279px)) {
  .header {
    border-bottom: 2px solid var(--border-grey);
    max-width: 1279px;
    margin: 0 auto;
    margin-top: 0;
  }
.rightSide {
    gap: 0px;

  }
  .userAndHamburger {
    display: flex;
    align-items: center;
    gap: 45px;
  }

  .hamburger {
    display: block;
    margin-top: 0px;
  }
}

@media (max-width: 766px) {
  .header {
    border-bottom: 2px solid var(--border-grey);
    max-width: 767px;
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 0;
  }
.rightContainer {
    gap: 0px;
    margin-top: 0px;
  }
  .user {
    display: none;
  }
  .hamburger {
    display: block;
    margin-top: 0px;
  }
}