.header {
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 20px 0;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 40px;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    border-bottom: 2px solid var(--border-grey);
    max-width: 1279px;
    margin: 0 auto;
    padding: 20px 32px;
  }
  
  .leftSide::after {
    display: none;
  }

  .rightSide {
    gap: 20px;
  }

  .userAndHamburger {
    display: flex;
    align-items: center;
    gap: 30px; 
  }

  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-main);
  }
}

@media (max-width: 767px) {
  .header {
    border-bottom: 2px solid var(--border-grey);
    max-width: 767px;
    margin: 0 auto;
    padding: 15px 20px;
  }

  .leftSide::after {
    display: none;
  }

  .rightSide {
    gap: 15px;
  }

  .user {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-main);
  }
  
  .userAndHamburger {
    display: flex;
    align-items: center;
  }
}