.header {
  position: relative;
  width: 100%;
  /* border-bottom: 2px solid #e0e0e0; */
  padding: 20px 0;
  z-index: 1;
  background-color: transparent;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 40px;
}

.leftSide::after {
  content: '';
  height: 32px;
  width: 2px;
  background-color: #e0e0e0;
  display: none;
}
