.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #212121;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }
}

.caloriesWrapper {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
  justify-content: center;
}

.caloriesCount {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #264061;
}

.caloriesUnit {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #264061;
}

.productsListWrapper {
  width: 100%;
  text-align: left;
  margin-bottom: 40px;
}

.productsTitle {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #212121;
  margin-bottom: 20px;
}

.productsList {
  padding-left: 20px;
  margin: 0;
  color: #9B9FAA;
  font-size: 14px;
  line-height: 1.5;
}

.productItem {
  margin-bottom: 5px;
}

