.App {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

@media (min-width: 768px) {
    .App {
        padding: 0 24px;
    }
}

@media (min-width: 1280px) {
    .App {
        padding: 0 32px;
    }
}