html,
body,
#root {
  height: 100%;
}
:root {
  --white: #ffffff;
  --orange: #fc842d;
  --grey: #9b9faa;
  --text-main: #212121;
  --bg-grey: #f0f1f3;
  --border-grey: #e0e0e0;
  --font-main: 'Verdana', sans-serif;
  --font-secondary: 'Gotham Pro', sans-serif;
  --error-color: #ff3f3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1280px) {
  #root {
    background: url('/src/assets/desktop-bg.jpg') no-repeat right bottom fixed;
    background-size: auto;
  }
  .logged-in #root {
    background: none !important;
  }
}

@media (min-width: 767px) and (max-width: 1279px) {
  #root {
    background: url('/src/assets/tablet-bg.png') no-repeat right bottom fixed;
    background-size: cover;
  }
  .logged-in #root {
    background: none !important;
  }
}
